.btn{
    width: fit-content;
    padding: 12px 30px;  
    cursor: pointer;  
    color: var(--color-primary);
    border: 2px solid rgb(185, 185, 185);
    background: unset;
    border-radius: 26px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    transition: 0.5s all ease;
}
.btn--slide{
    align-self: center;
}
@media screen and (min-width:1024px) {
    .btn--slide{
        align-self: flex-start;
    }
}
@media screen and (min-width:1280px) {
    .btn--slide{
        display: inline;
    }
}

.btn:hover,
.btn--institutional{
    border-color:var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;
}
.btn--institutional{
    display: block;
    margin: 0 auto;
}

@media screen and (min-width:1280px) {
    .btn--institutional{
        display: inline;
        
    }
    
}
.btn--institutional:hover{
    color: #333;
    background: none;
    border-color: #333; 
}


.btn--quote{
    color: #fff;
    background: unset;
    border-color: #fff;
}
.btn--quote:hover {
    color: #333;
}

.btn--slide--black{
    color: var(--color-primary);
    background: unset;
    border-color: rgb(185, 185, 185);
}